/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
/storage/price/*.json
/public/images/*.jpeg
docker.log
/storage/orders/*.json
public/images_slides/*

public/images/*
!public/images/no-image.png

_config.yml
resources/assets/js/facebook.js
public/sitemap.xml