.header_container{
  background-image: url('/images_service/header_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  .container-fluid{
    .row.info-bar{
      background-color: #ff0000;
      color: #fff;
      padding-top: 5px;
      padding-bottom: 5px;
      box-shadow: 0px 5px 11px 0px rgba(198, 80, 92, 0.7);
      .row{
        .container.top-bar{
          display: flex;
          justify-content: space-between;
          .info-phones{
            a{
              color: #fff;
            }
          }
        }
      }
    }
  }

  .container.header_info{
    .row{
      margin-top: 5px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .logo_section{
        a.navbar-brand-link{
          display: block;
          text-align: center;
          img{
            max-width: 387px;
            width: 100%;
            height: auto;
          }
        }
      }
      .contact_section{
        .info-phones{
          display: flex;
          flex-direction: column;
          a{
            font-size: 24px;
            text-decoration: none;
            img, i{
              width: 30px;
            }
          }
          @media (max-width: 768px){
            flex-direction: row;
            justify-content: space-around;
            a{
              font-size: 14px;
              img, i{
                width: 15px;
              }
            }
          }
        }
        .cta{
          margin-top: 10px;
          .btn-cta{
            width: 100%;
            background-color: #f00;
            border: 1px solid #f00;
            color: #fff;
            &:hover{
              background-color: transparent;
              color: #f00;
            }
          }
        }
      }
      .login_cart{
        login_menu{

        }
        .header_cart{
          display: flex;
          flex-direction: column;
          align-items: center;
          color: #777;
          text-decoration: none;
          &:hover{
            color: #f00;
          }
          i.fa-shopping-cart{
            font-size: 30px;
            color: #f00;
          }
        }
      }
    }
    hr{
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .row{
      @media (max-width: 768px){
        h3.logo-description{font-size: 16px;}
      }
      h3.logo-description{
        margin-top: 0;
        text-align: center;
      }
    }
  }
}
