

@mixin set_button($button_color){
  width: 100%;
  background-color: $button_color;
  border: 1px solid $button_color;
  color: #fff;
  &:hover{
    background-color: transparent;
    color: $button_color;
  }
}

.container-fluid.guest_msg{
  .row{
    background-color: #353535;
    p{
      margin: 15px 20px;
      text-align: center;
      color: #fff;
      font-weight: bold;
      font-size: 14px;
    }
  }
}

.header_container{
  background-image: url('/images_service/header_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  .container-fluid{
    .row.info-bar{
      background-color: #ff0000;
      color: #fff;
      padding-top: 5px;
      padding-bottom: 5px;
      box-shadow: 0px 5px 11px 0px rgba(198, 80, 92, 0.7);
      .row{
        .container.top-bar{
          display: flex;
          justify-content: space-between;
          .info-phones{
            a{
              color: #fff;
            }
          }
        }
      }
    }
  }

  .container.header_info{
    .row{
      margin-top: 5px;
      display: flex;
      align-items: center;
      @media (max-width: 991px){
        flex-wrap: wrap;
      }
      .logo_section{
        a.navbar-brand-link{
          display: block;
          text-align: center;
          img{
            max-width: 387px;
            width: 100%;
            height: auto;
          }
        }
      }
      .contact_section{
        .info-phones{
          display: flex;
          flex-direction: column;
          a{
            font-size: 24px;
            text-decoration: none;
            font-weight: bold;
            img, i{
              width: 30px;
            }
          }
          @media (max-width: 768px){
            flex-direction: row;
            justify-content: space-around;
            a{
              font-size: 14px;
              img, i{
                width: 15px;
              }
            }
          }
        }
        .cta{
          margin-top: 10px;
          .btn-cta{
            @include set_button(#f00);
            margin-bottom: 10px;
          }
        }
      }
      .login_cart{
        .login_menu{
          a{
            @include set_button(#4e4e4e);
            &:nth-child(2){
              margin-top: 10px;
            }
          }
        }
        .header_cart{
          display: flex;
          flex-direction: column;
          align-items: center;
          color: #777;
          text-decoration: none;
          &:hover{
            color: #f00;
          }
        }
      }
    }
    hr{
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .row{
      @media (max-width: 768px){
        h3.logo-description{font-size: 16px;}
      }
      h3.logo-description{
        margin-top: 0;
        text-align: center;
        color: #2b0000;
      }
    }
  }
}
