
// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Import Cart styles
@import "cart";

// Import Alertify styles
@import "alertify";

// Import User List styles
@import "user-list";

//Validation
input.error{
    border-color: #f00;
    &.form-control:focus {
        border-color: #f00;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 30, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 30, 0.6);
    }
}
label.error{
    color: #f00;
    &#qty-error{
        display: flex;
        order: 10;
        flex: 1;
        min-width: 200px;
    }
}

//Buttons
.btn-default{
    background-color: #ccc;
    &:hover{
        border-color: #f00;
        background-color: #f00;
        color: #fff;
    }
}
.btn{
    border-radius: 0px;
}

//Forms elements
.form-control{
    border-radius: 0px;
}

a{
    color: #2b0000;
    &:hover{
        color: #ff0000;
    }
}

.container-fluid.info-bar{
    background-color: #636b6f;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #000000;
    .row{
        .container.top-bar{
            display: flex;
            justify-content: space-between;
            .info-phones{
                a{
                    color: #fff;
                }
            }
        }
    }
}

.container.logo-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    a.navbar-brand{
        height:auto;
    }
    @media (max-width: 768px){
        h3.logo-description{font-size: 16px;}
    }
    h3.logo-description{
        margin-top: 0;
        text-align: center;
    }
}
nav{
    &.navbar{
        min-height: unset;
    }
    &.navbar-static-top {
        border-width: 1px 0 1px;
    }
    .container{
        .navbar-header{
            display: flex;
            justify-content: center;
            button.navbar-toggle{
                //float: none;
                //display: flex;
                //align-items: center;
                //justify-content: center;
                margin: 0;
                border: none;
                background-color: transparent;
                width: 100%;
                .menu-text{
                    margin-left: 10px;
                }
            }
        }
    }
}

.container.js-search-product{
    .row{
        form{
            .search-property{
                display: flex;
                align-items: baseline;
                label{
                    white-space: nowrap;
                    margin-right: 10px;
                }
                margin-bottom: 5px;
            }
            .search-input{
                margin-bottom: 5px;
            }
            .search-button{
                .btn-search{
                    width:100%;
                }
            }
        }
    }
}
.container.page-name{
    @media (max-width: 768px){
        h1{margin-top:0;}
    }
}
.container{
    .row{
        ul.breadcrumb{
            padding-left: 0;
            padding-right: 0;
            background-color: transparent;
        }
    }
    .text-line-through{
        text-decoration: line-through;
    }
    .product_item{
        border-top: 1px solid #ddd;
        margin-bottom: 10px;
        padding: 10px;
        padding-top: 20px;
        .section_thumbnail{
            .product_image{
                width: 100%;
                // margin: 15px 0;
                border-radius: 5px;
            }
        }
        .section_meta{
            h3.product_name{
                margin-top: 0;
                font-size: 22px;
                a{
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
        .section_buy{
            .product_price{
                font-weight: 600;
                font-size: 2rem;
                color: #f00;
            }
            .behavior_section{
                display: flex;
                flex-wrap: wrap;
                input.products_quantity{
                    max-width: 45px;
                    margin-right: 5px;
                    //border-radius: 5px;
                    border: 1px solid #ccc;
                    padding-left: 3px;
                }
            }
        }
    }
}

#category_menu{
    ul{
        list-style: none;
        li{
            a{
                padding: 5px;
                text-decoration: none;
                display: block;
                &:hover{
                    background-color: unset;
                }
                &.active{
                    background-color: #cbcbcb;
                    & ~ ul.sub_menu{
                        display: block;
                    }
                }
            }
        }
    }
    ul.sub_menu{
        padding:0;
        padding-left: 10px;
        display: none;
        &.display_item{
            display: block;
            //background-color: #e8e8e8;
        }
    }
}

//Pagination
ul.pagination{
    li{
        &.active{
            span{
                background-color: #ff002e;
                border-color: #dd0000;
            }
        }
        a{
            color: #636b6f;
        }
    }
}

//Admin section

.container.usersList{
    display: flex;
    align-items: center;
    h1{
        flex: 1;
    }
}


footer{
    background-color: #fff;
    //color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #d3e0e9;
    .container{
        .row{
            .section_logo{
                display: flex;
                flex-direction: column;
                a.navbar-brand{
                    height: auto;
                    padding-bottom: 0;
                    padding-left: 0;
                    img{
                        height: 100px;
                    }
                }
                h3{
                    margin-top: 10px;
                    font-size: 18px;
                }
            }
        }
    }
}